:root {
    --primary-800: #2F4CBC;
    --primary-900: #1F327E;
    --base-black: #000;
}

.appointment-card {
    width: max-content;
    height: max-content;
    background-color: var(--primary-800);
    color: white;
    padding: 2rem;
    width:max-content;
    position: absolute !important;
    bottom: 0;
    right: 0;
    color: white;
}
appointment-card__message {
    display: flex;
    flex-direction: column;
}