
.appointment-card {
    width: max-content;
    height: max-content;
    background-color: var(--primary-800);
    color: white;
    padding: 2rem;
    width:max-content;
    position: fixed !important;
    top: 5rem;
    right: 0;
    color: white;
}
appointment-card__message {
    display: flex;
    flex-direction: column;
}

.popup_notif-content {
    background: transparent;
    border: none;
}

.close_notif_btn {
    background-color: white;
    border-radius: 1rem;
    padding: 5px;
    position: relative;
    left: 90%;
}