 /* Import fonts */
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* Global CSS variables */
:root {
    --primary-800: #2F4CBC;
    --primary-900: #1F327E;
    --base-black: #000;
}

.notif_popup-content {
    width:max-content;
    position: absolute !important;
    bottom: 0;
    right: 0;
}

.appointment-card {
    width: max-content;
    height: max-content;
    background-color: var(--primary-800);
    color: white;
    padding: 2rem;
}
appointment-card__message {
    display: flex;
    flex-direction: column;
}